<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.speedroid.macroid">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/label_app"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.ModeActivity"
            android:label=""
            android:theme="@style/AppTheme.DialogTheme.Transparent" />

        <service
            android:name=".service.OverlayService"
            android:configChanges="orientation"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW" />

        <service
            android:name=".service.ProjectionService"
            android:configChanges="orientation"
            android:enabled="true"
            android:foregroundServiceType="mediaProjection" />

        <service
            android:name=".service.ClickService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibility's"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>